body {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-left-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.example {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-image: url('../img/Example.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 375px;
    min-height: 977px;
    opacity: 0.5;
}

.m-all {
    margin: 0 auto;
    opacity: 0.5;
}

.m-all>.m-top {
    height: 53px;
    background: #06c1ae;
}

.m-all>.m-top>.m-name {
}

.m-all>.m-top>.m-search {
}

.m-all>.m-top>.m-user {
}

.m-all>.m-nav {
    height: 186px;
}

.m-all>.m-nav .row {
    height: 40px;
    background: red;
}

.m-all>.m-nav .m-item {
    position: relative;
    top: 7px;
    left: 25px;
}

.m-all>.m-nav .m-item .m-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #555;
}

.m-all>.m-nav .m-item .m-font {
    position: relative;
    font-size: 16px;
    left: 13px;
}

div {
    padding-left: 0;
    padding-right: 0;
}

.m-all>.m-middle {
    background: red;
}

.m-all>.m-middle>.m-left {
    margin: 12px 0 11px 26px;
    width: 103px;
    height: 135px;
    background: yellow;
}

.m-all>.m-middle>.m-left>.m-title {
    color: green;
    font-size: 15px;
    font-weight: bold;
}

.m-all>.m-middle>.m-left>.m-detail {
    font-size: 12px;
    letter-spacing: -1px;
}

.m-all>.m-middle>.m-left>.m-img {
    background: #666;
    width: 85px;
    height: 85px;
}

.m-all>.m-middle>.m-right {
    background: green;
    width: 246px;
    height: 158px;
}

.m-all>.m-middle>.m-right>.m-top {
    background: blue;
    height: 78px;
}

.m-all>.m-middle>.m-right>.m-top>span{
    margin: 20px 20px;
    line-height: 20px;
}

.m-all>.m-middle>.m-right>.m-bottom {
}

.m-all>.m-middle>.m-right>.m-bottom>.m-left {
    height: 78px;
    width: 120px;
    background: #136;
}

.m-all>.m-middle>.m-right>.m-bottom>.m-right {
    height: 78px;
    width: 120px;
    background: #380;
}
